// Import Bulma's core
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/mixins";

// Import typekit
@import url("https://use.typekit.net/fnw1iwa.css");

// Custom colors
$primary: #3d4f5d;
$body-background-color: hsl(60, 19%, 87%);
$input-background-color: hsl(50, 23%, 95%);
$card-background-color: hsl(60, 21%, 91%);
$table-background-color: $card-background-color;
$red: rgb(128, 0, 0);
$danger: $red;
$gold: rgb(194, 174, 109);
$gold-invert: findColorInvert($gold);
$navbtn: rgb(70, 90, 100);
$navbtn-invert: findColorInvert($navbtn);

// Add custom colors to map
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "red": ($red, $red-invert),
  "gold": ($gold, $gold-invert),
  "navbtn": ($navbtn, $navbtn-invert)
);
$colors: map-merge($colors, $addColors);

// Typography
$body-size: 18px;
$family-serif: "bookmania", Georgia, 'Times New Roman', Times, serif;
$family-primary: $family-serif;

$family-sans-serif: "freight-sans-pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

$content-heading-color: $red;

h1, h2, h3, h4, h5, .title, .button {
  font-family: "mrs-eaves-roman-small-caps", $family-primary;
  font-weight: normal;
  font-variant: small-caps;
}

.content {
  h2 {
    border-bottom: 2px solid $gold;
  }
  h6 {
    color: $grey-dark !important;
    font-variant: unset;
  }
}


// Add special loading div
div {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
      @include loader;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}

// Typography helper
.is-italic {
  font-style: italic;
}

.is-sans-serif {
  font-family: $family-sans-serif;
  font-feature-settings: "lnum";
}

// Fix button margins
.button {
  margin: auto 0.25em;
  font-family: $family-sans-serif;
  font-variant-caps: normal;
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Card
.card {
  font-family: $family-sans-serif;
}

// Controls
.switch input[type=checkbox]+.check:before {
  background: $input-background-color;
}

table, .input, .control {
  font-family: $family-sans-serif;
  font-feature-settings: "lnum";
}

// Global transitions
$fade-time: 500ms;

.fade {
  &-enter-active, &-leave-active {
    transition: all 2s ease-in-out;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-grow {
  &-enter-active, &-leave-active {
    transition: all $fade-time ease-in-out;
    max-height: 300vh;
    overflow: hidden;
  }
  &-enter, &-leave-to {
    max-height: 0;
    opacity: 0;
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";