// Import Bulma's core
@import '~bulma/sass/utilities/initial-variables';

// bulma 0.7.1 import fix
$border: $grey-lighter;

@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/mixins';
// Import typekit
@import url('https://use.typekit.net/fnw1iwa.css');

// Custom colors
$primary: #3d4f5d;
$body-background-color: hsl(60, 19%, 87%);
$input-background-color: hsl(50, 23%, 95%);
$card-background-color: hsl(60, 21%, 91%);
$table-background-color: $card-background-color;
$red: rgb(128, 0, 0);
$danger: $red;
$gold: rgb(194, 174, 109);
$gold-invert: findColorInvert($gold);
$navbtn: rgb(70, 90, 100);
$navbtn-invert: findColorInvert($navbtn);

@import '~bulma/sass/utilities/derived-variables';

// Add custom colors to map
$addColors: (
  'red': (
    $red,
    $red-invert
  ),
  'gold': (
    $gold,
    $gold-invert
  ),
  'navbtn': (
    $navbtn,
    $navbtn-invert
  )
);

$colors: map-merge($colors, $addColors);

// Typography
$body-size: 18px;
$family-serif: 'bookmania', Georgia, 'Times New Roman', Times, serif;
$family-primary: $family-serif;
$family-sans-serif: 'ff-scala-sans-pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
  Arial, sans-serif;
$content-heading-color: $red;
$content-heading-weight: $weight-normal;

h1,
h2,
h3,
h4,
h5,
.title,
.button {
  font-family: 'mrs-eaves-roman-small-caps', $family-primary;
  font-variant: small-caps;
}

.content {
  h2 {
    border-bottom: 2px solid $gold;
  }

  h6 {
    color: $grey-dark !important;
    font-variant: unset;
  }
}

// Typography helper
.is-italic {
  font-style: italic;
}

.is-sans-serif {
  font-family: $family-sans-serif;
  font-feature-settings: 'lnum';
}

.is-small-caps {
  font-variant: small-caps;
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Card
.card {
  font-family: $family-sans-serif;
}

// Controls
.switch input[type='checkbox'] + .check:before {
  background: $input-background-color;
}

form,
table,
.label,
.control-label,
.input,
.control {
  font-family: $family-sans-serif;
  font-feature-settings: 'lnum';
}

// Global transitions
$fade-time: 500ms;
.fade {
  &-enter-active,
  &-leave-active {
    transition: all 2s ease-in-out;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.fade-grow {
  &-enter-active,
  &-leave-active {
    transition: all $fade-time ease-in-out;
    max-height: 300vh;
    overflow: hidden;
  }
  &-enter,
  &-leave-to {
    max-height: 0;
    opacity: 0;
  }
}

// Custom
.ampersand {
  height: 40vh;

  &::before {
    background: url('~assets/ampersand.svg') center center / contain no-repeat;
    background-blend-mode: multiply;
    content: '';
    height: inherit;
    mix-blend-mode: multiply;
    opacity: 0.1;
    position: absolute;
    width: 100%;
  }
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

hr {
  background-color: darken($body-background-color, 5%);
  height: 1px;
}

.button {
  font-family: $family-sans-serif;
  font-variant-caps: normal;
  // fix centering
  padding-top: 0.4em;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.control-label {
  padding-top: 0.4em;
}
